/*
    width: Es el ancho de un Elemento de Bloque

    height: es la altura de un elemento de bloque


    Padding:
        Es la propiedad que nos permite generar espacio interno
        entre el borde y la caja
        Es un shorthand (propiedad abreviada) que controla los 4 lados
        posibles a los que da padding


        padding-top: padding superior
        padding-right: padding derecho
        padding-bottom: padding inferior
        padding-left: padding izquierdo
        

        admite hasta 4 valores que van en el orden de las manesillas del reloj

        4 valores -> padding: top right buttom left;
        3 valores -> padding: top left/right buttom;
        2 valores -> padding: top/buttom left/right;
        1 valores -> padding: top/right/buttom/left;

        EL padding FUNCIONA PERFECTO EN LOS ELEMENTOS DE LINEA


    border:
        es la propiedad que nos permite modificar el borde de una caja
        es un shorthand (propiedad abreviada) que agrupa 3 propiedades

        border-width: ancho del borde
            border-top-width
            border-right-width
            border-bottom-width
            border-left-width
        border-style: estilo del borde
            border-top-style
            border-right-style
            border-bottom-style
            border-left-style
        border-color: color del borde
            border-top-color
            border-right-color
            border-bottom-color
            border-left-color

    box-sizing:
        Es la propiedad que nos permite controlar el calculo que hace el
        navegador a la hora de modificar las propiedades content, padding y border

        Los 2 valores que podemos darle son:
            content-box -> valor por defecto
            border-box -> calculo de tamaño del elemento, incluyendo el padding y border
    
*/





body{
    background-color: rgb(0, 0, 0);
    color: blueviolet;


}

.block{
    background-color: aqua;
    /*a los elementos de bloque si se pueden dar medidas*/
    width: 200px; /*ancho de 200 px*/
    height: 100px; /*alto de 100 px*/
    margin-left: auto;
    margin-right: auto;

    padding-bottom: 100px;
}

.title{
    background-color: aliceblue;
    height: 50px;

    width: 180px;
    /*para que lo de abajo funcione debe de existir un ancho*/
    /*y solo se va para un solo lado*/
    margin-left: auto; /*se pega automaticamente a la der(rellena la izq)*/
    /*margin-right: auto; /*se pega automaticamente a la izq(rellena la der)*/

    /*si los dos estan habilitados se centra*/
}

.inline{
    background-color: rgb(221, 60, 60);
    color: inherit;
    /*no se pueden dar medidas a elementos de linea*/
    /*por lo tanto lo de abajo no funciona*/
    width: 200px;
    height: 100px;
    /*No funciona para margenes verticales*/
    margin-top: 100px;
    margin-bottom: 100px;

    /*Si funciona en margenes horizontales*/
    margin-left: 10px; /*Izq*/
    margin-right: 20px; /*der*/
}