/*
    La propiedad display nos sirve para cambiar el contexto de los
    elementos dentro del navegador

    admite varios valores:
        none -> hace que el elemento no se muestre, pero sigue cargandose.
        block -> hace que el lemento sea de bloque.
        inline -> hace que el elemento sea de linea
        inline-block -> hace que el elemento sea de linea pero admite medidas
                y margenes verticales
*/
*{
    box-sizing: border-box;
}

body{
    background-color: aquamarine;
}

.text{
    background-color: blueviolet;
    /* display: none; */
    display: inline; /*se convierte en elemento de linea*/
}

.link{
    background-color: darkgoldenrod;
    /*display: block; /*ya es un elemento de bloque*/
    
    display: inline-block;
    width: 100px;
    margin-top: 50px;

}

